[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipdb = "*"
plotly = "*"
jupyter = "*"
networkx-0-9 = "*"
networkx = "<2.*"

[requires]
python_version = "3.7"
